# Título del Proyecto: Ciencia de Datos aplicada en la Industria Retail

## Breve descripción del proyecto (descripción del dataset, problemas interesantes asociados)
Se provee de un dataset que contiene datos historicos de ventas correspondientes a 45 tiendas anónimas localizadas en diferentes departamentos. Además el dataset cuenta con informacion de contexto (temperatura, precio del combustible, tasa de desempleo, información de rebajas, feriados) para las fechas correspondientes a las ventas (ventas registradas semanalmente desde febrero de 2010 hasta noviembre de 2012). Se provee también de una caracterización por tipo y tamaño para cada tienda y una lista de los usuarios que frecuentan cada una.
Uno de los desafíos de modelar datos de esta industria se presenta debido a la necesidad de tomar decisiones basadas en operaciones históricas limitadas. Se busca la definición de estrategias y toma de decisiones, en base al análisis y procesamiento de los datos históricos disponibles, para el cumplimiento de un cierto objetivo, como lo puede ser aumento de la rentabilidad del negocio/mejora del servicio prestado al cliente.
El objetivo de este proyecto es que el estudiante a lo largo de las materias a cursar en la diplomatura identifique y aplique diferentes técnicas de análisis/procesamiento de los datos que generen información valiosa para un negocio que se desarrolla en la industria en cuestión. Algunos de los puntos interesantes asociados son:
- Predicción de ventas futuras (detección de altas y bajas), análisis de estacionalidad de los datos.
- Segmentación de las ventas en base a las características de su contexto.
- Sistema de recomendación de tiendas para los usuarios.
- Análisis del efecto de las rebajas en las ventas para las distintas tiendas.
- Análisis del impacto de los feriados en las ventas.
- Análisis de correlación entre las diferentes variables provistas y las ventas semanales, análisis del impacto que las mismas causan.

## Análisis y Visualización
- Correlación entre variables/Análisis de independencia. a través de este análisis se puede ver el impacto de cada variable sobre las ventas semanales y de esta manera determinar cuales son las variables importantes a considerar.
- Distribución de los ejemplos con respecto a las diferentes clases. 
- Análisis de outliers.
- Visualización de las ventas con respecto al tiempo para cada tienda en un determinado departamento.
- Visualización de las ventas totales de cada tienda.
- Porcentaje que representan las rebajas sobre las ventas totales para una tienda.

## Análisis y Curación
Para análisis y curación podrán aplicarse sobre el dataset (en su totalidad) los siguientes puntos:
- Importación de datos.
- Chequeo de claves únicas por sample/eliminar duplicados.
- Despersonalización de datos.
- Normalización de los nombres de las columnas en los dataframes.
- Tratamiento de valores faltantes.
- Codificación de variables categóricas.
- Análisis de valores atípicos.
- Persistencia de los resultados.
- Ordenamiento de las columnas.
- Eliminar columnas que no aporten información.
- Crear un dataset único de las 3 tablas provistas incluyendo toda la información útil en una misma tabla.

## Introducción al ML
Los dataset provistos contienen muchas variables sobre las cuales se puede aplicar análisis y procesamiento. En esta materia puntual entiendo que lo importante es que el estudiante aprenda a hacer la division de los datos, la elección del modelo, evaluación de metricas y que el foco no está puesto sobre la complejidad del dataset. Con lo cual creo que estaría bueno tomar dos variables simples de analizar, por ejemplo semana en cuestion de las ventas y la columna que nos dice si es feriado o no, y con esto hacer un sistema predictivo en donde se introduce una fecha y el modelo predice si en esa semana hay feriados o no. Con esto podrá aplicarse:
- Carga de datos.
- Una pequeña reestructuración de las columnas optimizandolo para el análisis que se desea hacer (por ejemplo considerar todas las fechas de la semana y no solo la provista por el dataset).
- Division en conjuntos de entrenamiento y evaluación.
- Elección de un modelo.
- Selección de hyperparámetros.
- Métricas sobre el conjunto de evaluación.
- Curvas ROC.

## Aprendizaje Supervisado
En este caso, en la materia se van aplicando diferentes técnicas correspondientes a aprendizaje supervisado evaluando los resultados obtenidos. Se parte desde un baseline y se va complejizando el modelo. Me parece interesante en este punto hacer el sistema predictivo de sales para un determinado año en base a la información histórica. Se cuenta con features como la fecha (de la que se puede derivar mes o epoca del año), precio del combustible, desempleo, temperatura las cuales se pueden utilizar como entrada de un modelo que prediga las sales que se tendrá en una determinada fecha. Esto podría hacerse como un modelo general, o seleccionar una determinada tienda para hacer el análisis. Se cuenta con el registro de 3 años, la idea sería entrenar el modelo con los dos primeros años y testear el comportamiento del modelo con los datos del tercero. Es decir, se entrena con 2010 y 2011, y se corre el modelo con las features del 2012 comparando la salida del predictor con la real.

## Aprendizaje No Supervisado
Para la aplicación de aprendizaje no supervisado sería interesante hacer dos análisis:
- Segmentación de las ventas: clusterizar las ventas junto con las diferentes variables disponibles y hacer un análisis de los grupos obtenidos. Si aplica, evaluar en que caso tenemos las mejores ventas, ante que condiciones, con que combinación de variables. Podría utilizarse un algoritmo como K Means con algún método de optimización de número de clusters como elbow method.
- Sistema de recomendación de tiendas: se cuenta con el dato de los usuarios que frecuentan cada tienda, puede armarse un pequeño sistema de recomendación de tiendas a usuarios a través de métodos matriciales.

## Optativas Relacionadas
Análisis de series temporales, Introducción al data Warehousing, Ciencia de datos en las Finanzas, Introducción al aprendizaje profundo.

## Posible Trabajo Final
En caso que el estudiante haga la materia Análisis de series temporales sería bueno aplicar los conceptos vistos en la misma al sistema predictivo realizado. Lo mismo para los conceptos que pueda adquirir en el resto de las optativas. Sería bueno que el trabajo final, independientemente del modelo que se aplique se acerque lo más posible a lo que sería a nivel industrial. Por ejemplo dockerizar el predictor de sales en base a las features, o el sistema de recomendación de tiendas y prestar el servicio a través de una API. Esto cubriría un path bastante completo desde lo que fue el análisis de los datos hasta el armado de una estructura para prestar el servicio. Es decir de trabajo final le prestaría más atención en como brindar como servicio algo de lo que se hizo (podría ayudar en este punto).

## Contenido
Se provee de datos históricos de ventas de 45 tiendas localizadas en diferentes regiones, cada tienda contiene un número determinado de departamentos. Cada compañía además organiza eventos de rebajas a lo largo del año. Estas rebajas preceden a feriados destacados como lo son: el Super Bowl, el Día del Trabajo, Día de Acción de Gracias y Navidad. Las semanas que incluyen estos feriados tienen un peso 5 veces mayor que las que no.

El contenido de los cuatro archivos (Stores, Users, Features y Sales) se presenta a continuación:

### Stores
Información anónima de las 45 tiendas, incluye tipo y tamaño de las mismas.

### Users
Lista de usuarios y las tiendas que frecuentan.

### Features
Contiene información adicional relacionada a las tiendas, la localidad y actividad regional para las fechas dadas.
- Store: el número de tienda.
- Date: la semana correspondiente.
- Temperatura: temperatura promedio de la región.
- Fuel Price: costo del combustible en la región.
- Markdown 1-5: datos anónimos relacionados a rebajas promocionales. Esta información esta sólo disponible a partir de Noviembre del 2011 y no esta disponible para todas las tiendas todo el tiempo. Lo valores faltantes están marcados como NA.
- CPI: índice de precios al consumidor.
- Unemployment: tasa de desempleo.
- IsHoliday: si la semana contiene al menos un día feriado.

### Sales
Datos historicos de ventas, cubren desde el 05-02-2010 hasta el 01-11-2012. Incluye los siguientes campos:
- Store: el número de tienda.
- Dept: el número de departamento.
- Date: la fecha correspondiente a la transacción.
- Weekly_Sales: ventas para el departamento dado en la tienda correspondiente.
- IsHoliday: indica si corresponde a una semana con días feriados o no.

Link a la fuente: https://www.kaggle.com/manjeetsingh/retaildataset#Features%20data%20set.csv

In [1]:
import pandas as pd
import random

In [6]:
features = pd.read_csv('features.csv')
sales = pd.read_csv('sales.csv')
stores = pd.read_csv('stores.csv')
users = pd.read_csv('users.csv')

In [3]:
features

,Unnamed: 0,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,5,1,12/03/2010,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,6,1,19/03/2010,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,7,1,26/03/2010,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,8,1,02/04/2010,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,9,1,09/04/2010,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False
10,10,1,16/04/2010,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False
11,11,1,23/04/2010,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False
12,12,1,30/04/2010,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False
13,13,1,07/05/2010,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False
14,14,1,14/05/2010,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False
15,15,1,21/05/2010,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False
16,16,1,28/05/2010,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False
17,17,1,04/06/2010,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False
18,18,1,11/06/2010,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False
19,19,1,18/06/2010,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False
20,20,1,25/06/2010,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False
21,21,1,02/07/2010,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False
22,22,1,09/07/2010,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False
23,23,1,16/07/2010,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False
24,24,1,23/07/2010,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False
25,25,1,30/07/2010,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False
26,26,1,06/08/2010,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False
27,27,1,13/08/2010,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False
28,28,1,20/08/2010,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False
29,29,1,27/08/2010,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8160,8160,45,04/01/2013,32.87,3.592,1341.33,30325.14,8.93,35.85,3682.17,192.659622,8.625,False
8161,8161,45,11/01/2013,38.78,3.611,3877.36,15559.85,3.81,152.18,2403.14,192.759980,8.625,False
8162,8162,45,18/01/2013,41.45,3.605,14746.10,4071.06,4.02,483.58,1467.78,192.809507,8.625,False
8163,8163,45,25/01/2013,26.49,3.583,3130.28,1362.10,0.20,332.68,1361.74,192.838701,8.625,False
8164,8164,45,01/02/2013,34.92,3.615,14508.96,1092.53,827.90,26424.02,700.93,192.867895,8.625,False
8165,8165,45,08/02/2013,28.99,3.753,53311.88,531.33,78.26,24823.94,3233.44,192.897089,8.625,True
8166,8166,45,15/02/2013,35.87,3.814,9362.02,2017.68,0.36,5012.39,6411.71,192.943471,8.625,False
8167,8167,45,22/02/2013,31.48,3.859,10781.51,2735.67,23.38,1516.76,3061.21,193.032822,8.625,False
8168,8168,45,01/03/2013,39.72,3.890,6614.32,147.82,5.60,27.55,1668.95,193.122173,8.625,False
8169,8169,45,08/03/2013,36.13,3.860,16382.54,88.67,34.62,3096.92,3486.91,193.211524,8.625,False
8170,8170,45,15/03/2013,42.81,3.834,9867.03,NaN,11.08,912.87,1360.36,193.296277,8.625,False
8171,8171,45,22/03/2013,36.55,3.800,11923.74,NaN,308.00,1764.47,1647.31,193.369533,8.625,False
8172,8172,45,29/03/2013,40.68,3.784,5444.00,NaN,350.84,53.90,1722.11,193.442790,8.625,False
8173,8173,45,05/04/2013,43.94,3.763,16427.83,5341.41,182.59,1523.83,1743.09,193.516047,8.335,False
8174,8174,45,12/04/2013,57.39,3.724,8760.15,1713.11,21.08,1302.31,1380.74,193.589304,8.335,False
8175,8175,45,19/04/2013,56.27,3.676,1399.81,39.89,44.38,60.83,1445.05,193.589304,8.335,False
8176,8176,45,26/04/2013,50.64,3.615,1260.65,NaN,57.52,40.51,2476.18,193.589304,8.335,False
8177,8177,45,03/05/2013,56.07,3.592,8345.40,6.00,92.96,3580.32,2242.24,NaN,NaN,False
8178,8178,45,10/05/2013,58.86,3.583,4689.18,440.82,53.09,375.22,5738.20,NaN,NaN,False
8179,8179,45,17/05/2013,60.59,3.614,4515.35,667.88,6.12,522.70,2541.62,NaN,NaN,False
8180,8180,45,24/05/2013,67.11,3.627,3249.34,481.82,58.48,1183.23,1309.30,NaN,NaN,False
8181,8181,45,31/05/2013,65.88,3.646,6474.49,411.38,77.06,9.38,4227.27,NaN,NaN,False
8182,8182,45,07/06/2013,70.71,3.633,9977.82,744.29,80.00,4825.71,3597.34,NaN,NaN,False
8183,8183,45,14/06/2013,70.01,3.632,2471.44,517.87,348.54,2612.33,3459.39,NaN,NaN,False
8184,8184,45,21/06/2013,70.13,3.626,4989.34,385.31,178.56,2463.42,3117.94,NaN,NaN,False
8185,8185,45,28/06/2013,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,8186,45,05/07/2013,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,8187,45,12/07/2013,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,8188,45,19/07/2013,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,8189,45,26/07/2013,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [4]:
sales

        Unnamed: 0  Store  Dept        Date  Weekly_Sales IsHoliday  Sale Id
0                0      1     1  05/02/2010      24924.50     False        0
1                1      1     1  12/02/2010      46039.49      True        1
2                2      1     1  19/02/2010      41595.55     False        2
3                3      1     1  26/02/2010      19403.54     False        3
4                4      1     1  05/03/2010      21827.90     False        4
5                5      1     1  12/03/2010      21043.39     False        5
6                6      1     1  19/03/2010      22136.64     False        6
7                7      1     1  26/03/2010      26229.21     False        7
8                8      1     1  02/04/2010      57258.43     False        8
9                9      1     1  09/04/2010      42960.91     False        9
10              10      1     1  16/04/2010      17596.96     False       10
11              11      1     1  23/04/2010      16145.35       NaN       11
12              12      1     1  30/04/2010      16555.11     False       12
13              13      1     1  07/05/2010      17413.94     False       13
14              14      1     1  14/05/2010      18926.74     False       14
15              15      1     1  21/05/2010      14773.04     False       15
16              16      1     1  28/05/2010      15580.43     False       16
17              17      1     1  04/06/2010      17558.09     False       17
18              18      1     1  11/06/2010      16637.62     False       18
19              19      1     1  18/06/2010      16216.27       NaN       19
20              20      1     1  25/06/2010      16328.72     False       20
21              21      1     1  02/07/2010      16333.14     False       21
22              22      1     1  09/07/2010      17688.76     False       22
23              23      1     1  16/07/2010      17150.84     False       23
24              24      1     1  23/07/2010      15360.45     False       24
25              25      1     1  30/07/2010      15381.82     False       25
26              26      1     1  06/08/2010      17508.41       NaN       26
27              27      1     1  13/08/2010      15536.40     False       27
28              28      1     1  20/08/2010      15740.13     False       28
29              29      1     1  27/08/2010      15793.87     False       29
...            ...    ...   ...         ...           ...       ...      ...
425766      425766     45    72  05/03/2010      54761.87       NaN   419155
425767      425767     45    72  12/08/2011      28333.85     False   419230
425768      425768     45    72  23/09/2011      23199.22     False   419236
425769      425769     45    72  21/09/2012      27810.18       NaN   419288
425770      425770     45    72  26/10/2012      33366.60     False   419293
425771      425771     45    74  22/10/2010      10589.53     False   419331
425772      425772     45    74  17/02/2012      11627.05     False   419400
425773      425773     45    79  14/05/2010      16559.95     False   419467
425774      425774     45    80  18/03/2011        364.70     False   419641
425775      425775     45    80  06/01/2012        740.55     False   419683
425776      425776     45    81  06/01/2012      13313.20     False   419826
425777      425777     45    81  02/03/2012      14653.37     False   419834
425778      425778     45    82  18/03/2011      11650.82     False   419927
425779      425779     45    82  23/09/2011      11543.49     False   419954
425780      425780     45    82  02/03/2012      12917.83     False   419977
425781      425781     45    87  09/07/2010       6331.09       NaN   420320
425782      425782     45    87  23/12/2011      10939.66     False   420396
425783      425783     45    87  24/02/2012       7224.30     False   420405
425784      425784     45    90  05/03/2010      22653.30     False   420445
425785      425785     45    90  20/07/2012      23035.84     False   420569
425786      425786     45    92  22/10/2010      46663.68     False   420764
425787      425787     45    92  18/11/2011      54868.94     False   420820
425788      425788     45    92  08/06/2012      50688.59     False   420849
425789      425789     45    92  27/07/2012      44551.11     False   420856
425790      425790     45    93  04/03/2011       1886.44     False   420926
425791      425791     45    93  19/10/2012       2270.50       NaN   421011
425792      425792     45    95  01/10/2010      46860.82     False   421181
425793      425793     45    95  28/01/2011      45751.50     False   421198
425794      425794     45    95  27/04/2012      50693.76     False   421263
425795      425795     45    97  03/08/2012       6779.88     False   421422

[425796 rows x 7 columns]

In [5]:
stores

    Unnamed: 0  Store Type      Size
0            0      1    A  151315.0
1            1      2    A  202307.0
2            2      3    B   37392.0
3            3      4    A       NaN
4            4      5    B   34875.0
5            5      6    A  202505.0
6            6      7    B   70713.0
7            7      8    A  155078.0
8            8      9    B  125833.0
9            9     10    B  126512.0
10          10     11    A  207499.0
11          11     12    B  112238.0
12          12     13    A  219622.0
13          13     14    A       NaN
14          14     15    B  123737.0
15          15     16    B   57197.0
16          16     17    B       NaN
17          17     18    B  120653.0
18          18     19    A  203819.0
19          19     20    A  203742.0
20          20     21    B  140167.0
21          21     22    B  119557.0
22          22     23    B  114533.0
23          23     24    A  203819.0
24          24     25    B  128107.0
25          25     26    A  152513.0
26          26     27    A  204184.0
27          27     28    A  206302.0
28          28     29    B   93638.0
29          29     30    C   42988.0
30          30     31    A  203750.0
31          31     32    A  203007.0
32          32     33    A   39690.0
33          33     34    A  158114.0
34          34     35    B  103681.0
35          35     36    A   39910.0
36          36     37    C   39910.0
37          37     38    C       NaN
38          38     39    A       NaN
39          39     40    A       NaN
40          40     41    A  196321.0
41          41     42    C   39690.0
42          42     43    C   41062.0
43          43     44    C   39910.0
44          44     45    B  118221.0

In [7]:
users

    Unnamed: 0                users          stores
0            0         Sara Arriaga      16-32-7-44
1            1        Tomas Citelli     20-37-10-11
2            2     Sebastian Araujo  34-14-18-16-29
3            3    Horacio Villareal     22-14-39-25
4            4            Juan Mira   31-7-27-21-13
5            5         Gustavo Mora      45-7-19-18
6            6       Carlos Citelli   43-24-33-5-13
7            7          Franco Mira   44-12-20-8-45
8            8       Fede Villareal        19-45-32
9            9     Noelia Villareal     5-37-6-18-9
10          10    Veronica Frontera  14-13-31-19-22
11          11     Maximiliano Mira  42-28-26-17-18
12          12      Luciana Armesto  15-29-43-24-39
13          13         Ignacio Sosa   23-17-43-6-26
14          14            Fede Sosa   14-2-43-17-20
15          15        Laura Paredes   7-35-29-33-25
16          16         Laura Paludi  26-35-18-38-17
17          17  Maximiliano Armesto   4-30-34-22-12
18          18      Santana Ignacio  44-20-39-19-23
19          19       Agustina Gomez    9-23-13-5-36
20          20       Agustin Marchi   6-28-34-15-30
21          21     Priscila Verolin  15-24-32-31-26
22          22    Juan Cruz Baudino     17-10-34-35
23          23        Demian Odasso     35-21-45-39
24          24  Gianfranco Barbiani     45-33-24-44
25          25       Adriana Castro  37-15-29-17-14
26          26       Monica Briozzo      26-19-7-12
27          27           Juan Gomez     18-17-11-36
28          28      Diego Gutierrez   13-20-44-29-8
29          29          Diego Gomez   43-18-5-41-36
30          30    Edgardo Busaniche     31-43-20-29
31          31       Manuel Arriaga   12-29-4-33-10
32          32         Diego Marini        25-35-19
33          33        Martin Robles   1-10-23-11-14
34          34       Claudio Keilis       18-7-4-19
35          35      Santiago Maragi  17-30-29-15-22
36          36         Ariel Gianni   5-22-24-44-45
37          37        Laura Paluddi     41-25-45-27
38          38       Franco Heredia       26-7-5-18
39          39         Carlos Lopez  10-20-19-25-17
40          40        Diego Coyante     10-30-42-17
41          41      Xavier del Pino      21-4-44-45
42          42          Iara Blatto      5-36-44-30
43          43  Florencia Velazques      34-7-13-29
44          44     Florencia Gallea  28-27-39-17-16
45          45         Evelin Bocco     3-2-24-14-5
46          46    Francisco Pignata     22-14-28-11
47          47           JP Chalave     41-43-42-15
48          48      Nahuel Aranciba  35-19-40-20-26
49          49       Sofia Basualdo   19-39-28-6-15